<!-- A list column has no breadcrumbs: its page is the root of the area. -->
@if (!pane()) {
  <app-breadcrumbs />
}

<div class="ph__bar">
  <div class="ph__text">
    <div class="ph__heading">
      @if (titleTag() === 'p') {
        <p class="ph__title" [attr.id]="titleId()">{{ title() }}</p>
      } @else {
        <h1 class="ph__title" [attr.id]="titleId()">{{ title() }}</h1>
      }
      @if (meta()) {
        <span class="ph__meta">{{ meta() }}</span>
      }
      <ng-content select="[heading]" />
    </div>
    @if (subtitle()) {
      <p class="ph__subtitle">{{ subtitle() }}</p>
    }
  </div>
  <div class="ph__actions">
    <ng-content select="[actions]" />
  </div>
</div>
